body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,600&display=swap');

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Big {
  background-color: #FFC017;
  /* padding: 25px 0; */
}

header ul {
  gap: 25px;
  align-items: center;
}

header li {
  list-style: none;
}

header li a {
  text-decoration: none;
  color: #292929;
  font-weight: 400;
  font-size: 14px;
}

header ul button {
  border: none;
  background-color: #191919;
  width: 100px;
  height: 40px;
  color: #FFC017;
  border-radius: 1386px;
}

header h1 {
  font-size: 106px;
  font-weight: 400;
  letter-spacing: -7px;
  margin: 0;
}

header p {
  font-size: 24px;
  width: 430px;
}

header .col {
  justify-content: space-between;
}

nav img {
  width: 160px;
  height: 25px;
}

.up {
  margin-top: 75px;
}

.col7 {
  width: 60%;
}

.col7 button {
  border: none;
  border-radius: 1980px;
  width: 200px;
  height: 40px;
  background-color: #191919;
  color: white;
  font-size: 20px;
}

.lol {
  display: flex;
  justify-content: space-between;
}

.pop {
  width: 60%;
}

.pine {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.cat {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.cat span {
  border: 1px solid black;
  padding: 10px;
  font-size: 12px;
}

.cot {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}